In [1]:
# Import Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm

#inline visualization
                        
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load data set
Data = pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Assignment DS (Husen)\Assignment No 18\Forecasting\Airlines+Data.xlsx")

In [3]:
Data.head(10)

       Month  Passengers
0 1995-01-01         112
1 1995-02-01         118
2 1995-03-01         132
3 1995-04-01         129
4 1995-05-01         121
5 1995-06-01         135
6 1995-07-01         148
7 1995-08-01         148
8 1995-09-01         136
9 1995-10-01         119

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Month       96 non-null     datetime64[ns]
 1   Passengers  96 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.6 KB

In [5]:
# copy the original data
    
    
df = Data.copy()

In [6]:
df.dtypes

Month         datetime64[ns]
Passengers             int64
dtype: object

In [7]:
df1 = df.set_index('Month')

In [8]:
df1.head()

            Passengers
Month
1995-01-01         112
1995-02-01         118
1995-03-01         132
1995-04-01         129
1995-05-01         121

In [9]:
#month as index

df1 = df.set_index('Month')

In [10]:
df1.head()

            Passengers
Month
1995-01-01         112
1995-02-01         118
1995-03-01         132
1995-04-01         129
1995-05-01         121

In [11]:
# Square root Transformation

from numpy import sqrt
from pandas import DataFrame

dataframe = DataFrame(df1.values)
dataframe.columns = ['Passengers']
dataframe['Passengers'] = sqrt(dataframe['Passengers'])

In [12]:
# Transformation

from numpy import log

dataframe = DataFrame(df1.values)
dataframe.columns = ['Passengers']
dataframe['Passengers'] = log(dataframe['Passengers'])

In [13]:
df1["t"] = np.arange(1,97)

df1["t_sq"] = df1["t"]*df1["t"]

df1["log_Passengers"] = np.log(df1["Passengers"])
df1

            Passengers   t  t_sq  log_Passengers
Month
1995-01-01         112   1     1        4.718499
1995-02-01         118   2     4        4.770685
1995-03-01         132   3     9        4.882802
1995-04-01         129   4    16        4.859812
1995-05-01         121   5    25        4.795791
...                ...  ..   ...             ...
2002-08-01         405  92  8464        6.003887
2002-09-01         355  93  8649        5.872118
2002-10-01         306  94  8836        5.723585
2002-11-01         271  95  9025        5.602119
2002-12-01         306  96  9216        5.723585

[96 rows x 4 columns]

In [14]:
#Train data

Train = df1.head(77)

#Test data 

Test = df1.tail(19)

In [15]:
import statsmodels.formula.api as smf

linear_model = smf.ols('Passengers~t',data=Train).fit()
pred_linear =  pd.Series(linear_model.predict(pd.DataFrame(Test['t'])))
rmse_linear = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(pred_linear))**2))
rmse_linear

58.14854431950882

In [16]:
# Exponential Model

Exp = smf.ols('log_Passengers~t',data=Train).fit()
pred_Exp = pd.Series(Exp.predict(pd.DataFrame(Test['t'])))
rmse_Exp = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(np.exp(pred_Exp)))**2))
rmse_Exp

47.88965425184036

In [17]:
# Quadratic Model

Quad = smf.ols('Passengers~t+t_sq',data=Train).fit()
pred_Quad = pd.Series(Quad.predict(Test[["t","t_sq"]]))
rmse_Quad = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(pred_Quad))**2))
rmse_Quad

58.92632852818821

In [18]:
data = {"MODEL":pd.Series(["rmse_linear","rmse_Exp","rmse_Quad"]),
        "RMSE_Values":pd.Series([rmse_linear,rmse_Exp,rmse_Quad,])}

table_rmse=pd.DataFrame(data)
table_rmse.sort_values(['RMSE_Values'])

         MODEL  RMSE_Values
1     rmse_Exp    47.889654
0  rmse_linear    58.148544
2    rmse_Quad    58.926329

In [19]:
df2 = df1.iloc[:,0:1]
df2

            Passengers
Month
1995-01-01         112
1995-02-01         118
1995-03-01         132
1995-04-01         129
1995-05-01         121
...                ...
2002-08-01         405
2002-09-01         355
2002-10-01         306
2002-11-01         271
2002-12-01         306

[96 rows x 1 columns]

In [20]:
# Validating

split_point = len(df2) - 10
dataset, validation = df2[0:split_point], df2[split_point:]
print('Dataset %d, Validation %d' % (len(dataset), len(validation)))
dataset.to_csv('dataset.csv', header=False)
validation.to_csv('validation.csv', header=False)

Dataset 86, Validation 10

In [21]:
from pandas import read_csv
from sklearn.metrics import mean_squared_error
from math import sqrt

In [22]:
train = read_csv('dataset.csv', header=None, index_col=0, parse_dates=True, squeeze=True)

In [23]:
X = train.values
X = X.astype('float32')
train_size = int(len(X) * 0.50)
train, test = X[0:train_size], X[train_size:]

In [24]:
#walk-forward

history = [x for x in train]
predictions = list()
for i in range(len(test)):
    yhat = history[-1]
    predictions.append(yhat)
    obs = test[i]
    history.append(obs)
    print('>Predicted=%.3f, Expected=%.3f' % (yhat, obs))
# report
rmse = sqrt(mean_squared_error(test, predictions))
print('RMSE: %.3f' % rmse)

>Predicted=230.000, Expected=242.000
>Predicted=242.000, Expected=209.000
>Predicted=209.000, Expected=191.000
>Predicted=191.000, Expected=172.000
>Predicted=172.000, Expected=194.000
>Predicted=194.000, Expected=196.000
>Predicted=196.000, Expected=196.000
>Predicted=196.000, Expected=236.000
>Predicted=236.000, Expected=235.000
>Predicted=235.000, Expected=229.000
>Predicted=229.000, Expected=243.000
>Predicted=243.000, Expected=264.000
>Predicted=264.000, Expected=272.000
>Predicted=272.000, Expected=237.000
>Predicted=237.000, Expected=211.000
>Predicted=211.000, Expected=180.000
>Predicted=180.000, Expected=201.000
>Predicted=201.000, Expected=204.000
>Predicted=204.000, Expected=188.000
>Predicted=188.000, Expected=235.000
>Predicted=235.000, Expected=227.000
>Predicted=227.000, Expected=234.000
>Predicted=234.000, Expected=264.000
>Predicted=264.000, Expected=302.000
>Predicted=302.000, Expected=293.000
>Predicted=293.000, Expected=259.000
>Predicted=259.000, Expected=229.000
>Predicted=229.000, Expected=203.000
>Predicted=203.000, Expected=229.000
>Predicted=229.000, Expected=242.000
>Predicted=242.000, Expected=233.000
>Predicted=233.000, Expected=267.000
>Predicted=267.000, Expected=269.000
>Predicted=269.000, Expected=270.000
>Predicted=270.000, Expected=315.000
>Predicted=315.000, Expected=364.000
>Predicted=364.000, Expected=347.000
>Predicted=347.000, Expected=312.000
>Predicted=312.000, Expected=274.000
>Predicted=274.000, Expected=237.000
>Predicted=237.000, Expected=278.000
>Predicted=278.000, Expected=284.000
>Predicted=284.000, Expected=277.000
RMSE: 25.698

In [25]:
# ARIMA Hyperparameters

from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error

#evaluate an ARIMA model

def evaluate_arima_model(X, arima_order):
    
# prepare training dataset

    X = X.astype('float32')
    train_size = int(len(X) * 0.50)
    train, test = X[0:train_size], X[train_size:]
    history = [x for x in train]
    
# make predictions

    predictions = list()
    for t in range(len(test)):
        model = ARIMA(history, order=arima_order)
        
# model_fit = model.fit(disp=0)

        model_fit = model.fit(disp=0)
        yhat = model_fit.forecast()[0]
        predictions.append(yhat)
        history.append(test[t])
        
# calculate out of sample error

    rmse = sqrt(mean_squared_error(test, predictions))
    return rmse

In [26]:
#evaluate combinations of p, d and q values

def evaluate_models(dataset, p_values, d_values, q_values):
    dataset = dataset.astype('float32')
    best_score, best_cfg = float('inf'), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p,d,q)
                try:
                    rmse = evaluate_arima_model(train, order)
                    if rmse < best_score:
                        best_score, best_cfg = rmse, order
                    print('ARIMA%s RMSE=%.3f' % (order,rmse))
                except:
                    continue
    print('Best ARIMA%s RMSE=%.3f' % (best_cfg, best_score))

In [27]:
train = read_csv('dataset.csv', header=None, index_col=0, parse_dates=True, squeeze=True)
train

0
1995-01-01    112
1995-02-01    118
1995-03-01    132
1995-04-01    129
1995-05-01    121
             ...
2001-10-01    274
2001-11-01    237
2001-12-01    278
2002-01-01    284
2002-02-01    277
Name: 1, Length: 86, dtype: int64

In [28]:
p_values = range(0, 5)
d_values = range(0, 5)
q_values = range(0, 5)
evaluate_models(train.values, p_values, d_values, q_values)

Best ARIMANone RMSE=inf

In [29]:
train = read_csv('dataset.csv', header=0, index_col=0, parse_dates=True)

In [30]:
X = train.values
X = X.astype('float32')

In [31]:
model = ARIMA(X, order=(0,1,4))
model_fit = model.fit()
forecast=model_fit.forecast(steps=10)[0]
model_fit.predict(1, 96)

#plt.plot(model_fit )

array([118.0100546 , 134.691995  , 125.69763122, 118.22182912,
       135.39019282, 149.94070344, 144.44019823, 127.54838684,
       115.06125704, 105.44409945, 127.16969123, 114.33452843,
       133.27389624, 137.16762623, 135.49287768, 118.08573468,
       155.19850163, 168.14088709, 166.30896792, 142.62201863,
       127.3719769 , 114.04575611, 152.72895764, 142.80851253,
       154.35689202, 172.84713503, 157.28234851, 171.27458548,
       168.81494601, 204.99087687, 184.5007756 , 178.53214665,
       148.7268659 , 151.52216225, 172.11219006, 173.77775095,
       180.42604943, 189.02769615, 175.96727952, 182.2352157 ,
       220.20907924, 225.56975091, 235.38179886, 185.52580912,
       192.33854158, 164.46243712, 213.44134086, 186.55406421,
       205.07210617, 231.89180642, 233.39589196, 219.54273045,
       237.14561988, 263.4932373 , 265.71159194, 216.89388805,
       205.55168003, 177.24359912, 222.95382337, 200.44455833,
       195.70814137, 239.9703979 , 223.88733149, 237.918734  ,
       254.59187113, 308.76966561, 271.41275214, 243.93095926,
       213.9954413 , 211.71898983, 241.6725013 , 245.02521573,
       231.98666902, 270.58273701, 262.15774351, 271.27796903,
       309.59975525, 364.3001939 , 321.77114861, 290.44494426,
       255.76941119, 244.67239244, 294.98522165, 282.67376203,
       280.40523559, 271.25697853, 276.0390721 , 278.08883881,
       278.08883881, 278.08883881, 278.08883881, 278.08883881,
       278.08883881, 278.08883881, 278.08883881, 278.08883881])

In [32]:
#Error on the test set

val=pd.read_csv('validation.csv',header=None)

#rmse = np.sqrt(mean_squared_error(val[1], forecast))[0]

rmse

25.698158002219365

In [33]:
#fit model

df = pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Assignment DS (Husen)\Assignment No 18\Forecasting\Airlines+Data.xlsx")
df1= df.set_index('Month')

In [34]:
X = df1.values
X = X.astype('float32')

In [35]:
model = ARIMA(X, order=(0,1,4))
model_fit = model.fit()

In [36]:
forecast=model_fit.forecast(steps=10)[0]
model_fit.predict(1,96)

array([112.01380514, 119.39193597, 134.72166789, 125.15748892,
       117.41929809, 136.6488434 , 150.19840007, 143.96916709,
       126.21782348, 114.83814271, 104.71084216, 127.88613998,
       113.25323163, 134.20663909, 136.88713592, 136.06986323,
       116.44050973, 157.69176894, 168.64772493, 166.96320773,
       140.64312561, 127.88194639, 112.82654934, 154.98373884,
       141.54845556, 155.67642734, 172.98594011, 158.06281961,
       171.12695252, 169.56445081, 207.1201844 , 183.85028694,
       178.55625079, 147.23884677, 152.45962064, 172.39371803,
       174.36123515, 180.20021187, 190.08047689, 175.44725264,
       182.80634974, 222.12481754, 226.79854791, 235.91719759,
       183.43502993, 193.46281952, 162.80831711, 216.43338619,
       184.06761632, 207.26060619, 231.9745254 , 235.69806224,
       217.40817805, 239.54091554, 264.78077026, 267.24222526,
       213.49749076, 206.22330302, 175.39050167, 225.84961286,
       197.60223017, 196.55376906, 240.69332351, 225.00022532,
       237.21807212, 256.19896729, 312.35821837, 270.11971987,
       242.64855639, 212.79095361, 212.70078693, 241.98007237,
       245.31738957, 231.02764488, 272.89710989, 261.98602827,
       272.26071596, 311.1315486 , 369.05699464, 319.76734771,
       289.76993674, 254.13174093, 245.7453815 , 295.86000446,
       282.62268909, 279.82866112, 317.32328724, 309.24050791,
       317.73692815, 373.17561198, 411.66481222, 382.34576721,
       320.87843074, 293.39581662, 275.12926332, 332.19710454])

In [37]:
forecast

332.1971045410189